.container-fluid{
    height: 70px;
}
.container-fluid a{
    margin-left: 20px;
}
.col{
    height: 500px;
    background-color:gray;
    border-radius: 15px;
    margin-left: 18px;
}
.navbar{
    margin-top: 20px;
    border-radius: 20px;
}